html, body {
    height:100%; 
    margin: 0; 
    padding: 0; 
}
body {
    font-family: Verdana, helvetica, arial, sans-serif;
    font-size: 80%;
    background: #fff;
    color: #333;
}

h1, h2, h3 { 
    font-family: 'trebuchet ms',verdana, arial; 
    padding: 0px; 
    margin: 0 }
h1 { 
    font-size: large 
}

table {
    border-collapse: collapse; 
    border-spacing: 1px; 
    border-width: 1px; 
    border-style: solid;
}
td, th {
    border-width: 1px; 
    border-style: solid; 
    padding: 2px;
}
caption {
    font-style: italic;
}

table.merchecklist, .merchecklist td, .merchecklist th {
	border: 0px;
}

#page_title {
    background-color:#0C5DA5;
    margin-top:0px;
    padding:10px 0 10px 1em;
    border-width:0px;
    color: white;
}
#page_title a:link, #page_title a:visited {
   color: #EEE;
   text-decoration: none;
}
#page_title h1 { font-size: 2em; }
#page_title a { display: block;}

#user {
    position: absolute;
    top: 0px;
    right: 10px;
    color: white;
    /* background-color: #043A6B; */
}
#user a:link, #user a:visited {
    color:white;
}

#projects {background-color: #679FD2;}
#projects .tabHighlight{background-color: white;}
#projects span {
	border: solid; 
	border-width: 1px 1px 0 1px;
	margin: 0 0.5em 0 0;
	background-color: #DDD;
	font-size:1.5em;
}
#projects span a {
	padding: 0 1em;
	text-decoration: none;
}
#projects span a:hover{
	background-color: #C7DFF5;
}
#projects a:link, #projects a:visited {
   color: #0C5DA5;
   text-decoration: none;
}

.hidden {display: none;}
#nav, #view, #comments {padding: 0.5em; margin: 5px;}
#nav, #view {float:left;}
#view {width: 73%;}
#nav {width: 22%;}
.comment-detail {background-color: #EEEEEE; margin: 5px; padding: 0.5em; width:50%;}
.comment-author, .comment-timestamp {font-style: italic;}
.comment-remove, .comment-edit {float:right;}
.editable-name {border-color: #2B60DE; border-style:dotted; border-width:2px;}
.editable-doc {border-color: black; border-style:dotted; border-width:2px;}
.editable-dvalue {border-color: #3B9C9C; border-style:dotted; border-width:2px;}
.clear {clear:both;}

.medium_font{ font-size: 87.5%;}
.small_font{ font-size: 60%;}
.very_small_font{ font-size: 62.5%;}

.jstree-apple a {white-space:normal !important; height: auto;}
.jstree-apple li > ins {vertical-align:top;}
